/* Styles go here */
body {
  font-family: 'Consolas';
}
button {
	width: 120px;
}
h2 {
	margin: 0px;
}

.sortGroup {
	position: relative;
	float: left;
	width: 280px;
	margin-left: 25px;
	border: 1px solid #1588ed;
	padding: 15px;
}
.data {
	float: left;
	margin-top: 10px;
}
fieldset {
	border: 1px solid #666;
	width: 180px;
	position: absolute;
	top: 15px;
	right: 15px;
}
fieldset > label {
	display: inline-block;
	width: 80px;
	text-align: right;
	margin-right: 5px;
	line-height: 25px;
}
legend {
	font-weight: bold;
	text-align: right;
}
.sortPanel {
	position: absolute;
	bottom: 15px;
	right: 15px;
	text-align: center;
	vertical-align: bottom;
}
.unit {
  background-color: steelblue;
  height: 5px;
  line-height 5px;
  margin: 0px;
  margin-bottom: 1px;
  border: 1px solid steelblue;
  float: left;
}

.inspecting {
  background-color: orange;
}

.indicator {
  float:left;
  width: 0; 
  height: 0; 
  border-top: 4px solid transparent;
  border-bottom: 4px  solid transparent; 
  border-right: 4px solid red; 
  margin-left: 3px;
}
#delay {
  width: 30px;
}
.clear {
  clear: both;
}
#mainSort {
	background-color: #86b788;
}